
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left:18px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: .5cap;
  }


/* Customization for the @angular-material-components/datetime-picker */
::ng-deep .mat-calendar-period-button .mdc-button__label   {
   color:white !important;
  //  background-color: rgb(23, 9, 68);
}

::ng-deep .mat-calendar {     
   color:white !important;
   background-color: rgb(23, 9, 68);
 }

 ::ng-deep  .mat-calendar-body-cell-content {
   color:rgb(99, 209, 211);
 }



 ::ng-deep  .time-container-clock {
   color:white !important;
   background-color: rgb(23, 9, 68);
}

::ng-deep .time-container  {
   color:white !important;
   background-color: rgb(23, 9, 68);
}

::ng-deep .time-container-body-cell-content {
   color:white;
}

::ng-deep .time-container .mat-mdc-input-element {
   color:white !important;
   background-color: rgb(23, 9, 68);
}


